*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/deploymentTargetSelector.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_13_7_25,_1_50 PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_13_7_25__1_50PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_13_7_25,_1_50 PM_[Changes]/shelved.patch
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_13_7_25,_1_50 PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_13_7_25,_1_50 PM_[Changes]/shelved.patch
